# ==================== Working with ONNX model ====================
# Libraries for:
#   - Downloading a model from Hugging Face and saving it in the ONNX format
#   - Loading and running the saved ONNX model in a Python script

# Model loading / Hugging Face
transformers==4.51.3
sentence-transformers==4.1.0
huggingface-hub==0.30.2

# ONNX model loading and inference
# optimum-onnx allows us to use the optimum-cli CLI tool to download and save a model in the ONNX format
# onnxruntime is used in Python scripts to load a saved ONNX model and make predictions with it
optimum-onnx==0.0.3
onnxruntime==1.21.1

# Useful for tokenization / numerical operations
tokenizers==0.21.1
numpy==2.2.4


# ==================== Embedding ingestion pipeline ====================
# Embedding ingestion pipeline requires the same libraries as in the above section "Saving a model in the ONNX format and running it"
# plus additionally libraries below:
confluent-kafka==2.13.2



# ==================== Semantic search REST API ====================
# Libraries for running Semantic search REST API:
#   - protobuf - we need to have a specific version which is compatible with the `ray[serve]` library

fastapi==0.115.14
ray[serve]==2.49.2
protobuf==6.33.5



# ==================== MCP server and client ====================
# Libraries for running a MCP server and client (in FastAPI routes)
fastmcp==2.10.0
mcp==1.10.1
httpx==0.28.1
pydantic==2.11.7
pydantic-settings==2.10.1



# ==================== Milvus ====================
# Library for interacting with Milvus
pymilvus==2.6.0



# ==================== MongoDB ====================
# Library for interacting with MongoDB
pymongo==4.15.5



# ==================== RAG system ====================
# Libraries for the RAG REST API server. This system also needs the same libraries as the Semantic search REST API, MCP server
# and libraries for working with ONNX models.
langgraph==0.6.5
